.services-wrap {
  padding: 4rem 6rem 8rem 6rem;
}

.services-header {
  margin-bottom: 4rem;
}

.services-header h1 {
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 52px;
  user-select: none;
  color: #333333;
  margin-bottom: 30px;
}

.services-header h2 {
  font-size: 28px;
  line-height: 30px;
  width: 55%;
  color: #000;
}

.three-in-row {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  margin-bottom: 6rem;
}

.container {
  display: grid;
  justify-self: center;
  align-self: center;
  padding: 2rem 0.5rem;
}

.container img {
  width: 40%;
  margin: 0 auto;
  transform: rotateY(180deg);
  margin-bottom: 10px;
}

.mid-truck {
  transform: translateX(-20%) rotateY(180deg) !important;
}

.container h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 10px;
  color: #333333;
}

.container h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.container ol {
  line-height: 17px;
}

.container li > span {
  font-weight: bold;
  user-select: none;
}

.freeze,
.ocean {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.freeze {
  margin-bottom: 75px;
}

.freeze img {
  transform: rotateY(180deg);
}

.freeze-text h3 {
  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
  text-align: right;
  color: #333333;
  padding-top: 45px;
}

.freeze-text h4 {
  font-size: 18px;
  line-height: 22px;
  margin-left: 30px;
}

.freeze-text ol {
  margin-left: 30px;
}

.freeze-text ol > li,
.ocean-text ol > li {
  font-size: 17px;
}

.freeze-text li > span,
.ocean-text li > span {
  font-weight: bold;
}

.ocean-text h3 {
  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
  text-align: left;
  padding-top: 45px;
}

.ocean-text h4 {
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 900px) {
  .services-wrap {
    padding: 4rem 1rem;
  }

  .services-header h1 {
    width: min-content;
  }

  .services-header h2 {
    width: 75%;
  }

  .three-in-row {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 3rem;
  }

  .mid-truck {
    transform: rotateY(180deg) !important;
  }

  .freeze,
  .ocean {
    grid-template-columns: repeat(1, 1fr);
  }

  .freeze img,
  .ocean img {
    width: 98%;
    justify-self: center;
  }

  .freeze ol {
    padding-bottom: 10px;
  }

  .ocean-text h3 {
    padding-top: 10px;
  }
}
