.nav {
  padding: 1rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.black {
  background-color: #1a1a1a;
}

.black-link {
  color: #f1f1f1 !important;
}

.navbar {
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-self: right;
  width: fit-content;
}

.nav-link {
  position: relative;
  justify-self: center;
  padding: 10px 30px;
  font-size: 26px;
  color: #1a1a1a;
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: all 0.4s ease;
}

.mid-link::before,
.mid-link::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #adadad;
  border-radius: 3px;
}

.mid-link::before {
  left: 0;
}

.mid-link::after {
  right: 0;
}

.nav-link:hover {
  color: #ddb621;
}

@media screen and (max-width: 900px) {
  .nav {
    display: none !important;
  }
}
