.nav {
  padding: 1rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  background-color: #1d1d1d;
}

.navbar {
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-self: right;
  width: fit-content;
}

.navbar-900 {
  display: none;
}

.nav-link {
  position: relative;
  justify-self: center;
  padding: 10px 30px;
  font-size: 26px;
  color: #f1f1f1;
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: all 0.4s ease;
}

.mid-link::before,
.mid-link::after,
.last-link::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #cecece;
  border-radius: 3px;
}

.mid-link::before,
.last-link::before {
  left: 0;
}

.mid-link::after {
  right: 0;
}

.nav-link:hover {
  color: #ddb621;
}

@media screen and (max-width: 900px) {
  .nav {
    padding: 1rem 1.5rem;
    display: block;
  }

  .nav img {
    width: 90%;
    height: auto;
  }

  .navbar {
    display: none !important;
  }

  .navbar-900 {
    display: block;
  }

  .ham-menu {
    position: absolute;
    right: 5%;
    top: 4%;
    cursor: pointer;
  }
}
